.imgHead{
    height: 45vh;
    width: 100%;
}
.imgHead img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    position: top;
}

.bodyContent{
    width: 60%;
    margin: 5rem auto;
    padding: 1.5rem;
    background-color: #edf0f7;
}

.bodyIntro{
    width: 40%;
    margin: 2rem auto;
    text-align: center;
}

.section{
    margin: 1.5rem;
}

.sectionContent{
    margin-top: 0.3rem;
    line-height: 25px;
}

@media (max-width: 850px){
    .bodyContent{
        width: 90%;
    }

    .bodyIntro{
        width: 70%;
    }
}